.jumbotron{
    background-color: #ff847c;
    color: white;
    margin-top: 50px;
}


footer{
    background-color: yellow;
    padding: 10px 0 10px 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 20px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;
}
.btn-reserva-icon{
    padding-right: 10px;
}