$yellow: #fff591;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron{
    background-color: $yellow ;
    color: white;
    @include margenes(50px, 20px);
}


footer{
    background-color: $yellow;
    @include padding(10px, 0,  10px,10px);
    @include margenes(10px, 0px);
}

.card-hotel{
    flex: 1 200px;
    @include margenes(20px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    @include padding(0px, 10px,  0px,0px);
    
}
.btn-reserva-icon{
    @include padding(0px, 10px,  0px,0px);
}