@yellow: #fcf803;

.jumbotron {
    background-color: @yellow;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px; }
  
  footer {
    background-color: #fcf803;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .card-hotel {
    flex: 1 200px;
    margin-top: 20px;
    margin-bottom: 0px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px; }
  
  .btn-reserva-icon {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px; }
  